@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css">


<div class="container" style="text-align: center">
    <h1 class="Name">
        Anders Børjesson (anbo)
    </h1>

    <h2 class=""> 
        Cand.scient. i matematik og datalogi
    </h2>
        Lektor på Datamatikeruddannelsen
        Zealand, Sjællands Erhvervsakademi, Roskilde
</div>

<br/>
<div class="container">
    <div class="row">
        <div class="column" style="background-color:#aaa;"> 
            <h4>Teaching autumn 2019</h4>
            <a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem</a> Datamatiker <br />
            <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>, 4th semester Comp Science <br />
            <a href="https://anbo-easj.dk/internship/index.html">Internship, 5th semester</a>, Comp Science <br />
            <a href="https://anbo-easj.dk/dissertation2020spring/">Dissertation course</a> <br />
            Dissertations, Computer Science <br />
        </div>
        <div class="column" style="background-color: #bbb">
            <h4>Teaching spring 2019</h4>
            <a href="https://anbo-easj.dk/mobile2019spring/index.html">Mobile Application Development</a>, 4th semester Comp Science <br />
            <a href="https://anbo-easj.dk/internship/index.html">Internship</a>, 5th semester, Comp Science <br />
            <a href="https://anbo-easj.dk/dissertation2019spring/">Dissertation course</a><br />
            Dissertations, Computer Science <br />
        </div>
        <div class="column1" style="background-color: #ccc">
            <h4>Teaching autumn 2018</h4>
            <a href="https://anbo-easj.dk/prog3_2018autumn/index.html">Programming, 3rd semester, Comp Science</a> <br />
            <a href="https://anbo-easj.dk/mobile2018autumn/index.html">Mobile Application Development</a>, 4th semester Comp Science <br />
            <a href="https://anbo-easj.dk/internship/index.html">Internship</a>, 5th semester, Comp Science <br />
            <a href="">Dissertation course</a> <br />
            Dissertations, Computer Science<br />
            <a href="https://anbo-easj.dk/undervisning/">Previous semesters</a><br />
        </div>
    </div>
</div>
